[Desktop Entry]
Name=1Password
Comment=1Password desktop (Crostini wrapper)
Exec=/usr/local/bin/1password-crostini %U
TryExec=/usr/local/bin/1password-crostini
Icon=1password
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=1Password
Categories=Utility;Security;
MimeType=x-scheme-handler/onepassword;
